<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Total employees</th>
      <th>Description</th>
      <th>Requirement</th>
      <th>Term</th>
      <th>Location</th>
      <th>Salary</th>
      <th>Deadline</th>
      <th>Approved date</th>
      <th>Approved state</th>
      <th>Status</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.total_employees %></td>
        <td><%= job.description %></td>
        <td><%= job.requirement %></td>
        <td><%= job.term %></td>
        <td><%= job.location %></td>
        <td><%= job.salary %></td>
        <td><%= job.deadline %></td>
        <td><%= job.approved_date %></td>
        <td><%= job.approved_state %></td>
        <td><%= job.status %></td>
        <td><%= job.remark %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job', new_job_path %>
